body {
    font-family: Inter, sans-serif;
    background-color: #F5F5F5;
}

img {
    /* reset browser css */
    border: 0;

}

h1 {
    font-family: Inter, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 62px;
}

.content-section {
    max-width: 1320px;
    margin: 0 auto;
}

.container-certified {
    display: flex;
    margin-top: 30px;
    gap: 151px;

}


.subtitle {
    color: #576071;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}